## NERD DOS DADOS - Diferenças entre GridSearchCV, RandonSearchCV e Baysian Search

In [20]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\menez\appdata\local\programs\python\python312\lib\site-packages (1.5.1)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy>=1.19.5 in c:\users\menez\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (2.0.0)
Requirement already satisfied: scipy>=1.6.0 in c:\users\menez\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.14.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\menez\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\menez\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.5.0)

In [21]:
# A primeira coisa que temos que fazer é importar os pacotes que iremos utilizar.

import pandas as pd
import numpy as np
import time

import warnings
warnings.filterwarnings("ignore") 


from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV 
from sklearn.metrics import r2_score
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

#Comando para exibir todas colunas do arquivo
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('max_colwidth', 50)

## Importação dos dados, Analise Exploratória e Tratamento de Dados

In [22]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\menez\appdata\local\programs\python\python312\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\menez\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [23]:
#Comando utilizado para carregar o arquivo e armazena-lo como um DataFrame do Pandas
#Um DataFrame do Pandas é como se fosse uma planilha do Excel, onde podemos tratar linhas e colunas.
df_dados = pd.read_excel("C:/Users/menez/OneDrive - Faculdade Impacta Tecnologia/IMPACTA 2024/ANO LETIVO 2024/MATÉRIAS/REAL DATA - DRIVEN BUSINESS PROJECT (HANDS-ON)/SEGMENTACAO CLIENTE/dados.xlsx")

In [24]:
#Comando utilizado para verificar a quantidade de linhas e colunas do arquivo
#Colunas também são chamadas de variáveis.
df_dados.shape

(2000, 11)

In [25]:
#Comando utilizado para verificar informações sobre os dados(Tipo de variáveis, Variáveis, Quantidade de registros, etc)
df_dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   UF                          2000 non-null   object
 1   IDADE                       2000 non-null   int64
 2   ESCOLARIDADE                2000 non-null   object
 3   ESTADO_CIVIL                2000 non-null   object
 4   QT_FILHOS                   2000 non-null   int64
 5   VL_IMOVEIS                  2000 non-null   int64
 6   TEMPO_ULTIMO_EMPREGO_MESES  2000 non-null   int64
 7   ULTIMO_SALARIO              2000 non-null   int64
 8   VALOR_TABELA_CARROS         2000 non-null   int64
 9   SCORE_CREDITO               2000 non-null   float64
 10  EMPRESTIMO                  2000 non-null   object
dtypes: float64(1), int64(6), object(4)
memory usage: 172.0+ KB

In [26]:
# Comando utilizado para avaliar se alguma variável possui valor nulo ou chamado de valores missing ou NAN (Not Available)
df_dados.isnull().sum()

UF                            0
IDADE                         0
ESCOLARIDADE                  0
ESTADO_CIVIL                  0
QT_FILHOS                     0
VL_IMOVEIS                    0
TEMPO_ULTIMO_EMPREGO_MESES    0
ULTIMO_SALARIO                0
VALOR_TABELA_CARROS           0
SCORE_CREDITO                 0
EMPRESTIMO                    0
dtype: int64

## Pré Processamento dos Dados

In [27]:
# Cria o encoder
lb = LabelEncoder()

# Aplica o encoder nas variáveis que estão com string
df_dados['ESTADO_CIVIL'] = lb.fit_transform(df_dados['ESTADO_CIVIL'])
df_dados['ESCOLARIDADE'] = lb.fit_transform(df_dados['ESCOLARIDADE'])
df_dados['UF'] = lb.fit_transform(df_dados['UF'])

In [28]:
df_dados.head(200)

,UF,IDADE,ESCOLARIDADE,ESTADO_CIVIL,QT_FILHOS,VL_IMOVEIS,TEMPO_ULTIMO_EMPREGO_MESES,ULTIMO_SALARIO,VALOR_TABELA_CARROS,SCORE_CREDITO,EMPRESTIMO
0,4,19,2,2,0,0,8,1800,0,56.000000,SIM
1,0,23,1,2,1,0,9,4800,50000,18.000000,NAO
2,3,25,0,0,0,220000,18,2200,30000,45.000000,SIM
3,1,27,2,0,1,0,22,3900,0,28.666667,NAO
4,4,30,0,1,0,0,14,3100,40000,39.666667,SIM
5,0,32,2,2,1,185000,19,6800,0,45.166667,NAO
6,3,35,1,2,1,450000,25,22000,150000,50.666667,SIM
7,1,42,0,0,0,0,48,4500,28000,56.166667,NAO
8,2,45,2,0,0,0,120,9800,0,61.666667,SIM
9,4,48,1,1,2,600000,15,15000,70000,67.166667,NAO
10,0,51,0,1,1,0,80,6100,48000,72.666667,SIM
11,3,53,2,0,2,280000,12,9000,0,78.166667,NAO
12,1,55,1,0,2,700000,75,17500,50000,83.666667,SIM
13,2,57,0,0,3,340000,90,13000,180000,89.166667,NAO
14,4,62,2,0,3,450000,93,5300,0,94.666667,SIM
15,2,65,1,3,1,900000,150,18300,80000,98.000000,NAO
16,4,19,2,2,0,0,8,1800,0,42.000000,SIM
17,0,23,1,2,1,0,9,4800,50000,18.000000,NAO
18,3,25,0,0,0,220000,18,2200,30000,48.000000,SIM
19,1,27,2,0,1,0,22,3900,0,28.666667,NAO
20,2,28,1,1,2,370000,30,11500,35000,34.166667,SIM
21,4,30,0,1,0,0,14,3100,40000,39.666667,NAO
22,0,32,2,2,1,185000,19,6800,0,45.166667,SIM
23,3,35,1,2,1,450000,25,22000,150000,50.666667,NAO
24,1,42,0,0,0,0,48,4500,28000,56.166667,SIM
25,2,45,2,0,0,0,120,9800,0,61.666667,NAO
26,0,51,0,1,1,0,80,6100,48000,72.666667,SIM
27,3,53,2,0,2,280000,12,9000,0,78.166667,NAO
28,1,55,1,0,2,700000,75,17500,50000,83.666667,SIM
29,2,57,0,0,3,340000,90,13000,180000,89.166667,NAO
30,4,62,2,0,3,450000,93,5300,0,94.666667,SIM
31,2,65,1,3,1,900000,150,18300,80000,98.000000,NAO
32,4,19,2,2,0,0,8,1800,0,47.000000,SIM
33,0,23,1,2,1,0,9,4800,50000,18.000000,NAO
34,3,25,0,0,0,220000,18,2200,30000,53.000000,SIM
35,1,27,2,0,1,0,22,3900,0,28.666667,NAO
36,2,28,1,1,2,370000,30,11500,35000,34.166667,SIM
37,4,30,0,1,0,0,14,3100,40000,39.666667,NAO
38,0,32,2,2,1,185000,19,6800,0,45.166667,SIM
39,3,35,1,2,1,450000,25,22000,150000,50.666667,NAO
40,1,42,0,0,0,0,48,4500,28000,56.166667,SIM
41,2,45,2,0,0,0,120,9800,0,61.666667,NAO
42,4,48,1,1,2,600000,15,15000,70000,67.166667,SIM
43,0,51,0,1,1,0,80,6100,48000,72.666667,NAO
44,3,53,2,0,2,280000,12,9000,0,78.166667,SIM
45,1,55,1,0,2,700000,75,17500,50000,83.666667,NAO
46,2,57,0,0,3,340000,90,13000,180000,89.166667,SIM
47,4,62,2,0,3,450000,93,5300,0,94.666667,NAO
48,2,65,1,3,1,900000,150,18300,80000,98.000000,SIM
49,4,19,2,2,0,0,8,1800,0,12.000000,NAO
50,0,23,1,2,1,0,9,4800,50000,42.000000,SIM
51,3,25,0,0,0,220000,18,2200,30000,48.000000,NAO
52,1,27,2,0,1,0,22,3900,0,47.000000,SIM
53,2,28,1,1,2,370000,30,11500,35000,53.000000,NAO
54,4,30,0,1,0,0,14,3100,40000,39.666667,SIM
55,0,32,2,2,1,185000,19,6800,0,45.166667,NAO
56,3,35,1,2,1,450000,25,22000,150000,50.666667,SIM
57,1,42,0,0,0,0,48,4500,28000,56.166667,NAO
58,2,45,2,0,0,0,120,9800,0,61.666667,SIM
59,4,48,1,1,2,600000,15,15000,70000,67.166667,NAO
60,0,51,0,1,1,0,80,6100,48000,72.666667,SIM
61,3,53,2,0,2,280000,12,9000,0,78.166667,NAO
62,1,55,1,0,2,700000,75,17500,50000,83.666667,SIM
63,2,57,0,0,3,340000,90,13000,180000,89.166667,NAO
64,4,62,2,0,3,450000,93,5300,0,94.666667,SIM
65,2,65,1,3,1,900000,150,18300,80000,98.000000,NAO
66,4,19,2,2,0,0,8,1800,0,42.000000,SIM
67,0,23,1,2,1,0,9,4800,50000,48.000000,NAO
68,3,25,0,0,0,220000,18,2200,30000,47.000000,SIM
69,1,27,2,0,1,0,22,3900,0,53.000000,NAO
70,2,28,1,1,2,370000,30,11500,35000,34.166667,SIM
71,4,30,0,1,0,0,14,3100,40000,39.666667,NAO
72,0,32,2,2,1,185000,19,6800,0,45.166667,SIM
73,3,35,1,2,1,450000,25,22000,150000,50.666667,NAO
74,1,42,0,0,0,0,48,4500,28000,56.166667,SIM
75,2,45,2,0,0,0,120,9800,0,61.666667,NAO
76,4,48,1,1,2,600000,15,15000,70000,67.166667,SIM
77,0,51,0,1,1,0,80,6100,48000,72.666667,NAO
78,3,53,2,0,2,280000,12,9000,0,78.166667,SIM
79,1,55,1,0,2,700000,75,17500,50000,83.666667,NAO
80,2,57,0,0,3,340000,90,13000,180000,89.166667,SIM
81,4,62,2,0,3,450000,93,5300,0,94.666667,NAO
82,2,65,1,3,1,900000,150,18300,80000,98.000000,SIM
83,4,19,2,2,0,0,8,1800,0,12.000000,NAO
84,0,23,1,2,1,0,9,4800,50000,43.000000,SIM
85,3,25,0,0,0,220000,18,2200,30000,23.000000,NAO
86,1,27,2,0,1,0,22,3900,0,39.000000,SIM
87,2,28,1,1,2,370000,30,11500,35000,34.166667,NAO
88,4,30,0,1,0,0,14,3100,40000,39.666667,SIM
89,0,32,2,2,1,185000,19,6800,0,45.166667,NAO
90,3,35,1,2,1,450000,25,22000,150000,50.666667,SIM
91,1,42,0,0,0,0,48,4500,28000,56.166667,NAO
92,2,45,2,0,0,0,120,9800,0,61.666667,SIM
93,4,48,1,1,2,600000,15,15000,70000,67.166667,NAO
94,0,51,0,1,1,0,80,6100,48000,72.666667,SIM
95,3,53,2,0,2,280000,12,9000,0,78.166667,NAO
96,1,55,1,0,2,700000,75,17500,50000,83.666667,SIM
97,2,57,0,0,3,340000,90,13000,180000,89.166667,NAO
98,4,62,2,0,3,450000,93,5300,0,94.666667,SIM
99,2,65,1,3,1,900000,150,18300,80000,98.000000,NAO
100,4,19,2,2,0,0,8,1800,0,47.000000,SIM
101,0,23,1,2,1,0,9,4800,50000,18.000000,NAO
102,3,25,0,0,0,220000,18,2200,30000,53.000000,SIM
103,1,27,2,0,1,0,22,3900,0,28.666667,NAO
104,2,28,1,1,2,370000,30,11500,35000,34.166667,SIM
105,4,30,0,1,0,0,14,3100,40000,39.666667,NAO
106,0,32,2,2,1,185000,19,6800,0,45.166667,SIM
107,3,35,1,2,1,450000,25,22000,150000,50.666667,NAO
108,1,42,0,0,0,0,48,4500,28000,56.166667,SIM
109,2,45,2,0,0,0,120,9800,0,61.666667,NAO
110,4,48,1,1,2,600000,15,15000,70000,67.166667,SIM
111,0,51,0,1,1,0,80,6100,48000,72.666667,NAO
112,3,53,2,0,2,280000,12,9000,0,78.166667,SIM
113,1,55,1,0,2,700000,75,17500,50000,83.666667,NAO
114,2,57,0,0,3,340000,90,13000,180000,89.166667,SIM
115,4,62,2,0,3,450000,93,5300,0,94.666667,NAO
116,2,65,1,3,1,900000,150,18300,80000,98.000000,SIM
117,4,19,2,2,0,0,8,1800,0,12.000000,NAO
118,0,23,1,2,1,0,9,4800,50000,43.000000,SIM
119,3,25,0,0,0,220000,18,2200,30000,39.000000,NAO
120,1,27,2,0,1,0,22,3900,0,47.000000,SIM
121,2,28,1,1,2,370000,30,11500,35000,53.000000,NAO
122,4,30,0,1,0,0,14,3100,40000,39.666667,SIM
123,0,32,2,2,1,185000,19,6800,0,45.166667,NAO
124,3,35,1,2,1,450000,25,22000,150000,50.666667,SIM
125,1,42,0,0,0,0,48,4500,28000,56.166667,NAO
126,2,45,2,0,0,0,120,9800,0,61.666667,SIM
127,4,48,1,1,2,600000,15,15000,70000,67.166667,NAO
128,0,51,0,1,1,0,80,6100,48000,72.666667,SIM
129,3,53,2,0,2,280000,12,9000,0,78.166667,NAO
130,1,55,1,0,2,700000,75,17500,50000,83.666667,SIM
131,2,57,0,0,3,340000,90,13000,180000,89.166667,NAO
132,4,62,2,0,3,450000,93,5300,0,94.666667,SIM
133,2,65,1,3,1,900000,150,18300,80000,98.000000,NAO
134,4,19,2,2,0,0,8,1800,0,43.000000,SIM
135,0,23,1,2,1,0,9,4800,50000,39.000000,NAO
136,3,25,0,0,0,220000,18,2200,30000,47.000000,SIM
137,1,27,2,0,1,0,22,3900,0,53.000000,NAO
138,2,28,1,1,2,370000,30,11500,35000,34.166667,SIM
139,4,30,0,1,0,0,14,3100,40000,39.666667,NAO
140,0,32,2,2,1,185000,19,6800,0,45.166667,SIM
141,3,35,1,2,1,450000,25,22000,150000,50.666667,NAO
142,1,42,0,0,0,0,48,4500,28000,56.166667,SIM
143,2,45,2,0,0,0,120,9800,0,61.666667,NAO
144,4,48,1,1,2,600000,15,15000,70000,67.166667,SIM
145,0,51,0,1,1,0,80,6100,48000,72.666667,NAO
146,3,53,2,0,2,280000,12,9000,0,78.166667,SIM
147,1,55,1,0,2,700000,75,17500,50000,83.666667,NAO
148,2,57,0,0,3,340000,90,13000,180000,89.166667,SIM
149,4,62,2,0,3,450000,93,5300,0,94.666667,NAO
150,2,65,1,3,1,900000,150,18300,80000,98.000000,SIM
151,4,19,2,2,0,0,8,1800,0,12.000000,NAO
152,0,23,1,2,1,0,9,4800,50000,43.000000,SIM
153,3,25,0,0,0,220000,18,2200,30000,39.000000,NAO
154,1,27,2,0,1,0,22,3900,0,47.000000,SIM
155,2,28,1,1,2,370000,30,11500,35000,53.000000,NAO
156,4,30,0,1,0,0,14,3100,40000,39.666667,SIM
157,0,32,2,2,1,185000,19,6800,0,45.166667,NAO
158,3,35,1,2,1,0,8,1800,0,43.000000,SIM
159,1,42,0,0,0,0,9,4800,50000,39.000000,NAO
160,2,45,2,0,0,220000,18,2200,30000,47.000000,SIM
161,4,48,1,1,2,0,22,3900,0,53.000000,NAO
162,0,51,0,1,1,370000,30,11500,35000,34.166667,SIM
163,3,53,2,0,2,0,14,3100,40000,39.666667,NAO
164,1,55,1,0,2,185000,19,6800,0,45.166667,SIM
165,2,57,0,0,3,450000,25,22000,150000,50.666667,NAO
166,4,62,2,0,3,0,48,4500,28000,56.166667,SIM
167,2,65,1,3,1,0,120,9800,0,61.666667,NAO
168,4,19,2,2,0,600000,15,15000,70000,67.166667,SIM
169,0,23,1,2,1,0,80,6100,48000,72.666667,NAO
170,3,25,0,0,0,280000,12,9000,0,78.166667,SIM
171,1,25,2,0,1,700000,75,17500,50000,83.666667,NAO
172,2,28,1,1,2,340000,90,13000,180000,89.166667,SIM
173,4,30,0,1,0,450000,93,5300,0,94.666667,NAO
174,0,32,2,2,1,900000,150,18300,80000,98.000000,SIM
175,3,35,1,2,1,0,8,1800,0,12.000000,NAO
176,1,42,0,0,0,0,9,4800,50000,43.000000,SIM
177,2,45,2,0,0,220000,18,2200,30000,39.000000,NAO
178,4,48,1,1,2,0,22,3900,0,47.000000,SIM
179,0,51,0,1,1,370000,30,11500,35000,53.000000,NAO
180,3,53,2,0,2,0,14,3100,40000,43.000000,SIM
181,1,55,1,0,2,185000,19,6800,0,47.000000,NAO
182,2,57,0,0,3,0,8,1800,0,43.000000,SIM
183,4,62,2,0,3,0,9,4800,50000,47.000000,NAO
184,2,65,1,3,1,220000,18,2200,30000,43.000000,SIM
185,4,19,2,2,0,0,22,3900,0,47.000000,NAO
186,0,23,1,2,1,370000,30,11500,35000,43.000000,SIM
187,3,25,0,0,0,0,14,3100,40000,47.000000,NAO
188,1,27,2,0,1,185000,19,6800,0,45.166667,SIM
189,2,28,1,1,2,450000,25,22000,150000,50.666667,NAO
190,4,30,0,1,0,0,48,4500,28000,56.166667,SIM
191,0,32,2,2,1,0,120,9800,0,61.666667,NAO
192,3,35,1,2,1,600000,15,15000,70000,67.166667,SIM
193,1,42,0,0,0,0,80,6100,48000,72.666667,NAO
194,2,45,2,0,0,280000,12,9000,0,78.166667,SIM
195,4,48,1,1,2,700000,75,17500,50000,83.666667,NAO
196,0,51,0,1,1,340000,90,13000,180000,89.166667,SIM
197,3,53,2,0,2,450000,93,5300,0,94.666667,NAO
198,1,55,1,0,2,900000,150,18300,80000,98.000000,SIM
199,2,57,0,0,3,0,8,1800,0,12.000000,NAO

In [29]:
# Separando a variavel alvo
target = df_dados.iloc[:,10]

In [30]:
target.head()

0    SIM
1    NAO
2    SIM
3    NAO
4    SIM
Name: EMPRESTIMO, dtype: object

In [31]:
# Separando as variaveis preditoras

preditoras = df_dados.copy() #Fazendo uma cópia do dataframe

del preditoras['EMPRESTIMO'] #Excluindo a variavel target, pois já separamos ela na etapa anterior

preditoras.head()#Visualizando as variaveis preditoras

,UF,IDADE,ESCOLARIDADE,ESTADO_CIVIL,QT_FILHOS,VL_IMOVEIS,TEMPO_ULTIMO_EMPREGO_MESES,ULTIMO_SALARIO,VALOR_TABELA_CARROS,SCORE_CREDITO
0,4,19,2,2,0,0,8,1800,0,56.000000
1,0,23,1,2,1,0,9,4800,50000,18.000000
2,3,25,0,0,0,220000,18,2200,30000,45.000000
3,1,27,2,0,1,0,22,3900,0,28.666667
4,4,30,0,1,0,0,14,3100,40000,39.666667

In [32]:
# Divisão em Dados de Treino e Teste.
X_treino, X_teste, y_treino, y_teste = train_test_split(preditoras, target, test_size = 0.3, random_state = 40)

In [33]:
# Vamos aplicar a normalização em treino e teste
# Padronização
sc = MinMaxScaler()
X_treino_normalizados = sc.fit_transform(X_treino)
X_teste_normalizados = sc.transform(X_teste)

## Usando o GridSearchCV

In [34]:
# Construtor do Modelo
randomForest = RandomForestClassifier()

In [35]:
# Valores para o grid de hiperparametros
n_estimators = np.array([100,150,300])
max_depth = np.array([10,20])
criterion = np.array(["gini", "entropy"])
max_features = np.array(["sqrt", "log2"])
min_samples_split = np.array([1,2])
min_samples_leaf = np.array([1,2])
bootstrap = np.array(["True","False"])

# Grid de hiperparâmetros
grid_parametros = dict(n_estimators = n_estimators,
                       max_depth = max_depth,
                       criterion = criterion,
                       max_features = max_features,
                       min_samples_split = min_samples_split,
                       min_samples_leaf = min_samples_leaf,
                       bootstrap = bootstrap)

# Criando o modelo com o Grid de Hiperparametros
randomForest = GridSearchCV(randomForest, grid_parametros, cv = 3, n_jobs = 8)

# Treinando os modelos
inicio = time.time()
randomForest.fit(X_treino_normalizados, y_treino)
fim = time.time()

# Obtendo e visualizando os parametros treinados
treinos_rf = pd.DataFrame(randomForest.cv_results_)

# Acurácia em Treino
print(f"Acurácia em Treinamento: {randomForest.best_score_ :.2%}")
print("")
print(f"Hiperparâmetros Ideais: {randomForest.best_params_}")
print("")
print("Tempo de Treinamento do Modelo: ", round(fim - inicio,2))
print("")
print("Numero de treinamentos realizados: ", treinos_rf.shape[0])

ValueError:
All the 576 fits failed.
It is very likely that your model is misconfigured.
You can try to debug the error by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
288 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Users\menez\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Users\menez\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py", line 1466, in wrapper
    estimator._validate_params()
  File "c:\Users\menez\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "c:\Users\menez\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'bootstrap' parameter of RandomForestClassifier must be an instance of 'bool' or an instance of 'numpy.bool'. Got np.str_('True') instead.

--------------------------------------------------------------------------------
288 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Users\menez\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Users\menez\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py", line 1466, in wrapper
    estimator._validate_params()
  File "c:\Users\menez\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "c:\Users\menez\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'bootstrap' parameter of RandomForestClassifier must be an instance of 'bool' or an instance of 'numpy.bool'. Got np.str_('False') instead.

## Usando o RandomizedSearchCV

In [ ]:
# Construtor do Modelo
randomForest = RandomForestClassifier()

In [ ]:
# Valores para o grid de hiperparametros
n_estimators = np.array([100,150,300])
max_depth = np.array([10,20])
criterion = np.array(["gini", "entropy"])
max_features = np.array(["sqrt", "log2"])
min_samples_split = np.array([1,2])
min_samples_leaf = np.array([1,2])
bootstrap = np.array(["True","False"])

# Numero de iterações do RandonSearch
iteracoes = 50

# Grid de hiperparâmetros
grid_parametros = dict(n_estimators = n_estimators,
                       max_depth = max_depth,
                       criterion = criterion,
                       max_features = max_features,
                       min_samples_split = min_samples_split,
                       min_samples_leaf = min_samples_leaf,
                       bootstrap = bootstrap)

# Criando o modelo com o Grid de Hiperparametros
randomForest = RandomizedSearchCV(randomForest, grid_parametros, cv = 3, n_jobs = 8, n_iter = iteracoes)

# Treinando os modelos
inicio = time.time()
randomForest.fit(X_treino_normalizados, y_treino)
fim = time.time()

# Obtendo e visualizando os parametros treinados
treinos_rf = pd.DataFrame(randomForest.cv_results_)

# Acurácia em Treino
print(f"Acurácia em Treinamento: {randomForest.best_score_ :.2%}")
print("")
print(f"Hiperparâmetros Ideais: {randomForest.best_params_}")
print("")
print("Tempo de Treinamento do Modelo: ", round(fim - inicio,2))
print("")
print("Numero de treinamentos realizados: ", treinos_rf.shape[0])

Acurácia em Treinamento: 77.78%

Hiperparâmetros Ideais: {'n_estimators': 100, 'min_samples_split': 2, 'min_samples_leaf': 1, 'max_features': 'sqrt', 'max_depth': 10, 'criterion': 'entropy', 'bootstrap': 'True'}

Tempo de Treinamento do Modelo:  11.92

Numero de treinamentos realizados:  50

## Utilizando o Baysian Search

In [ ]:
# Instalação do Baysian_opt
# !pip install bayesian-optimization

In [ ]:
from sklearn.svm import SVC 
from sklearn.metrics import roc_auc_score 
from bayes_opt import BayesianOptimization, UtilityFunction 


# Defina a função de caixa preta para otimizar. 
def black_box_function(C): 
    # C: hiperparâmetro SVC para otimizar. 
    model = SVC(C = C) 
    model.fit(X_treino_normalizados, y_treino) 
    y_score = model.decision_function(X_teste_normalizados) 
    f = roc_auc_score(y_teste, y_score) 
    return f

# Defina o intervalo de C para otimizar. 
# bayes_opt requer que seja um dicionário. 
pbounds = {"C": [0.1, 10]}

# Cria o otimizados e otimiza a função da caixa preta
optimizer = BayesianOptimization(f = black_box_function,
                                 pbounds = pbounds, verbose = 2,
                                 random_state = 4)
optimizer.maximize(init_points = 5, n_iter = 20)
print("Melhor Resultado: {}; f(x) = {}.".format(optimizer.max["params"], optimizer.max["target"]))

|   iter    |  target   |     C     |
-------------------------------------
| 1         | 0.8789    | 9.674     |
| 2         | 0.878     | 5.518     |
| 3         | 0.8772    | 9.73      |
| 4         | 0.8779    | 7.177     |
| 5         | 0.8802    | 7.008     |
| 6         | 0.8802    | 9.75      |
| 7         | 0.8307    | 0.94      |
| 8         | 0.879     | 9.913     |
| 9         | 0.8772    | 7.078     |
| 10        | 0.8809    | 7.177     |
| 11        | 0.8797    | 7.175     |
| 12        | 0.8802    | 7.009     |
| 13        | 0.8785    | 9.748     |
| 14        | 0.8764    | 9.751     |
| 15        | 0.8774    | 9.672     |
| 16        | 0.8793    | 7.01      |
| 17        | 0.8755    | 9.911     |
| 18        | 0.8794    | 7.006     |
| 19        | 0.8798    | 7.012     |
| 20        | 0.8786    | 7.013     |
| 21        | 0.8805    | 7.015     |
| 22        | 0.8779    | 7.005     |
| 23        | 0.8782    | 7.016     |
| 24        | 0.8773    | 9.747     |
| 25        | 0.879     | 7.174     |
=====================================
Melhor Resultado: {'C': 7.176573748568846}; f(x) = 0.8809375382663001.